header {
  display: flex;
}
:root {
  /* 
       --main-font:font-family: 'Roboto', sans-serif;
      --secondary-font:font-family: 'Raleway', sans-serif;*/
  --mein-color: #2196f3;
}
body {
  font-family: var(--main-font);
}
/*COMPONENT*/
. {
  width: 1200px;
}
.logo--black {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo--white {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.logo--blue {
  color: #2196f3;
}
/*HEADER*/
.test {
  display: flex;
}
.navigation--text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
  cursor: pointer;
  text-decoration: none;
}
.navigation--list {
  list-style: none;
}
.navigation--text:hover,
.navigation--text:focus,
.address--link:hover,
.address--link:focus {
  color: var(--mein-color);
}
.address--link {
  font-style: normal;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.klick--button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #000000;
  cursor: pointer;
}
.klick--list {
  list-style: none;
}
.klick--button:hover,
.klick--button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/*END HEADER*/
/*MAIN*/
.klick {
  display: flex;
}
.name--img {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.list--img {
  list-style: none;
}
.name--comment {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
/*END MAIN*/
/*FOOTER*/
.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer {
  background-color: #2f303a;
  display: flex;
}
/*END FOOTER*/
.section--header {
  display: flex;
  font-size: auto;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px;
  gap: 50px;
  width: 1600px;

  border: 1px solid #ececec;
}

/*width: 1600px;
  height: 0px;
  left: 0px;
  top: 80px;

  border: 1px solid #ececec;*/
